@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
.hero-section-container {
  /* design */
  font-family: "Josefin Sans", sans-serif;
  /* layout */
  display: flex;
  margin: 100vh auto 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.hero-section-left {
  /* layout */
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.hero-section-left h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.hero-section-right {
  /* layout */
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.hero-section-right img {
  /* design */
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  /* size */
  height: 75%;
  /* layout */
  object-fit: cover;
  /* animation */
  transition: all 1s ease;
}
.hero-section-right img:hover {
  transform: scale(1.01);
}
.hero-book-btn {
  /* design */
  color: black;
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #f4ce14;
  font-family: "Milonga", sans-serif;
  font-size: 20px;
  /* layout */
  margin: auto;
  padding: 10px 30px;
  /* animation */
  transition: all 0.1s ease;
}
.hero-book-btn:hover {
  /* design */
  transform: scale(1.02);
}
