/* WELCOME SCTION */
.welcoming-image::before {
  content: "";
  background-color: black;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
}
.welcome-chevron {
  animation: moveChevron 1s linear alternate infinite;
}
.welcome-nav-logo {
  display: none;
}
.welcome-order-btn {
  display: none;
}
@keyframes moveChevron {
  0% {
    top: 94%;
    opacity: 0.1;
  }
  100% {
    top: 97%;
    opacity: 1;
  }
}
/* HERO SECTION */
.hero-book-btn {
  animation: buttonCall 1s infinite alternate ease-in-out;
}
/* HIGHLIGHT SECTION */
.hl-order-btn {
  animation: buttonCall 1s infinite alternate ease-in-out;
}
.scc {
  transition: all 0.25s ease;
}
.hl-dishes-container {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
  transition: all 0.3s ease;
}
.hl-dishes-container:hover .scc {
  filter: blur(1.5px);
}
.hl-dishes-container:hover .scc:hover {
  filter: blur(0px);
}
.scc:hover {
  transition: all 0.3s ease;
  transform: scale(1.02);
}
.hl-dishes-container::-webkit-scrollbar {
  background-color: #e1e1e141;
  height: 5px;
}
.hl-dishes-container::-webkit-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.hl-dishes-container {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.hl-dishes-container::-webkit-scrollbar {
  height: 5px;
}
.hl-dishes-container::-webkit-scrollbar-track {
  background: #e1e1e141;
}
.hl-dishes-container::-webkit-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.hl-dishes-container::-moz-scrollbar {
  height: 5px;
}
.hl-dishes-container::-moz-scrollbar-track {
  background: #e1e1e141;
}
.hl-dishes-container::-moz-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.hl-dishes-container {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.hl-dishes-container::-ms-scrollbar {
  width: 5px;
}
.hl-dishes-container::-ms-scrollbar-track {
  background: #e1e1e141;
}
.hl-dishes-container::-ms-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
/* TESTIMONIALS SECTION */
.test-cards-section:hover .testimonials-user-container {
  filter: blur(1.5px);
}
.test-cards-section:hover .testimonials-user-container:hover {
  filter: blur(0px);
}
.testimonials-user-container {
  transition: all 0.25s;
}
.testimonials-user-container:hover {
  transform: scale(1.05);
}
.test-cards-section::-webkit-scrollbar {
  background-color: #e1e1e141;
  height: 5px;
}
.test-cards-section::-webkit-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.test-cards-section {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.test-cards-section::-webkit-scrollbar {
  height: 5px;
}
.test-cards-section::-webkit-scrollbar-track {
  background: #e1e1e141;
}
.test-cards-section::-webkit-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.test-cards-section {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.test-cards-section::-moz-scrollbar {
  height: 5px;
}
.test-cards-section::-moz-scrollbar-track {
  background: #e1e1e141;
}
.test-cards-section::-moz-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.test-cards-section {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.test-cards-section::-ms-scrollbar {
  width: 5px;
}
.test-cards-section::-ms-scrollbar-track {
  background: #e1e1e141;
}
.test-cards-section::-ms-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
/* ABOUT SECTION */
.about-book-btn {
  animation: buttonCall 1s infinite alternate ease-in-out;
}
.Adrian-Mario-images[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}
.Adrian-Mario-images[data-animated="true"] .about-image-one {
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
  animation: scroll 15s linear infinite;
}
.Adrian-Mario-images[data-animated="true"] .about-image-two {
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
  animation: scroll 15s linear 7.5s infinite;
}
.about-image-three {
  opacity: 0;
}
/* ANIMATIONS */
@keyframes buttonCall {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scroll {
  to {
    right: -150%;
  }
}
