/* WELCOME SCTION */
.welcoming-image::before {
  content: "";
  background-color: black;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
}
.welcome-chevron {
  animation: moveChevron 1s linear alternate infinite;
}
.welcome-nav-logo {
  display: none;
}
.welcome-order-btn {
  display: none;
}
@keyframes moveChevron {
  0% {
    top: 94%;
    opacity: 0.1;
  }
  100% {
    top: 97%;
    opacity: 1;
  }
}
/* HERO SECTION */
.hero-book-btn {
  animation: buttonCall 1s infinite alternate ease-in-out;
}
/* HIGHLIGHT SECTION */
.hl-order-btn {
  animation: buttonCall 1s infinite alternate ease-in-out;
}
.scc {
  transition: transform 0.25s ease;
}
.scc:hover {
  transform: scale(1.02);
}
.hl-dishes-container::-webkit-scrollbar {
  background-color: #e1e1e141;
  height: 5px;
}
.hl-dishes-container::-webkit-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.hl-dishes-container {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.hl-dishes-container::-webkit-scrollbar {
  height: 5px;
}
.hl-dishes-container::-webkit-scrollbar-track {
  background: #e1e1e141;
}
.hl-dishes-container::-webkit-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.hl-dishes-container {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.hl-dishes-container::-moz-scrollbar {
  height: 5px;
}
.hl-dishes-container::-moz-scrollbar-track {
  background: #e1e1e141;
}
.hl-dishes-container::-moz-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
.hl-dishes-container {
  scrollbar-width: thin;
  scrollbar-color: #4957 #e1e1e141;
}
.hl-dishes-container::-ms-scrollbar {
  width: 5px;
}
.hl-dishes-container::-ms-scrollbar-track {
  background: #e1e1e141;
}
.hl-dishes-container::-ms-scrollbar-thumb {
  background-color: #4957;
  border-radius: 25px;
}
/* TESTIMONIALS SECTION */
.test-cards-section:hover .testimonials-user-container {
  filter: blur(1.5px);
}
.test-cards-section:hover .testimonials-user-container:hover {
  filter: blur(0px);
}
.testimonials-user-container {
  transition: all 0.25s;
}
.testimonials-user-container:hover {
  transform: scale(1.05);
}
/* ABOUT SECTION */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
.about-section-container {
  /* design */
  font-family: "Josefin Sans", sans-serif;
  /* layout */
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.about-section-left {
  /* layout */
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.about-section-left h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.about-section-right {
  /* layout */
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
}
.about-section-right img {
  /* design */
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  /* size */
  width: 70%;
  height: 50%;
  /* layout */
  object-fit: cover;
  /* animation */
  transition: all 1s ease;
}
.about-image-one {
  margin: auto 0;
}
.about-section-right img:hover {
  transform: scale(1.01);
  z-index: 100;
}
.about-image-two {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .about-image-two {
    display: none;
  }
  .about-image-one {
    align-self: center;
    justify-self: start;
  }
}
.about-book-btn {
  /* design */
  color: black;
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #f4ce14;
  font-family: "Milonga", sans-serif;
  font-size: 20px;
  /* layout */
  margin: 25px auto;
  padding: 10px 30px;
  /* animation */
  transition: all 0.1s ease;
}
.about-book-btn:hover {
  /* design */
  transform: scale(1.02);
}
/* ANIMATIONS */
@keyframes buttonCall {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
