:root {
  /* colors */
  --shdow-color-one: #00000080;
  /* fonts */
  --font-josefin: "Josefin Sans", sans-serif;
}
.welcoming-image {
  height: 100svh;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: -100;
}
.welcoming-image::before {
  content: "";
  /* design */
  background-color: black;
  opacity: 0.75;
  /* position */
  position: absolute;
  /* size */
  width: 100%;
  height: 100%;
}
.welcoming-image img {
  /* layout */
  object-fit: cover;
  /* size */
  width: 100%;
  height: 100%;
}
.welcoming-image h1 {
  /* design */
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  /* size */
  width: 100%;
  /* position */
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.welcome-chevron-one {
  /* design */
  font-size: 3rem;
  color: white;
  /* position */
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: oneMove 1s linear alternate infinite;
}
.welcome-chevron-two {
  /* design */
  font-size: 2.5rem;
  color: white;
  /* position */
  position: absolute;
  top: 95%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: twoMove 1s linear alternate infinite;
}
.welcome-nav-logo {
  display: none;
}
.welcome-order-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .welcome-nav-logo {
    /* design */
    font-family: var(--font-josefin);
    color: white;
    /* layout */
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position */
    position: absolute;
    top: 0.65rem;
    right: 50%;
    transform: translateX(50%);
    /* size */
  }
  .welcome-nav-logo img {
    width: 30px;
  }
  .welcome-order-btn {
    /* design */
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-josefin);
    color: black;
    background-color: orange;
    border-radius: 16px;
    box-shadow: 0 0 10px var(--shdow-color-one);
    /* position */
    position: absolute;
    top: 10px;
    right: 50px;
    transform: translateX(50%);
    /* layout */
    display: block;
    padding: 0.5em 1.2em;
    margin-right: 0.5em;
  }
}
@keyframes oneMove {
  0% {
    top: 90%;
    opacity: 0.25;
  }
  100% {
    top: 92%;
    opacity: 1;
  }
}
@keyframes twoMove {
  0% {
    top: 92%;
    opacity: 0.25;
  }
  100% {
    top: 95%;
    opacity: 1;
  }
}
