.nav-container {
  backdrop-filter: blur(5px);
  transition: all 0.5s;
}
.nav-burger-menu-btn {
  display: none;
}
/* ---- toggle button ---- */
.theme-toggle-ball {
  animation: slideOff 0.5s linear forwards;
}
.theme-btn-container input:checked + label {
  background-color: black;
}
.theme-btn-container input:checked + label .theme-toggle-ball {
  background-color: white;
}
.theme-btn-container input:checked + label .theme-toggle-ball {
  animation: slideOn 0.5s linear forwards;
}
@media screen and (max-width: 768px) {
  .nav-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 5px 20px 300px 20px;
    height: 100vh;
    width: 60svw;
    position: fixed;
    top: 0;
    left: 0svw;
    transform: translateX(-100%);
  }
  .nav-container.active {
    left: 60svw;
  }
  .nav-container ul {
    border-top: 1px solid orange;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 10px;
  }
  .nav-logo img {
    width: 100%;
    height: 50px;
  }
  .theme-btn-container {
    flex-direction: column-reverse;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .nav-burger-menu-btn {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: -50px;
  }
}
@media screen and (min-width: 769px) {
  .theme-btn-container span {
    color: white;
  }
}
/* custom animation */
@keyframes slideOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(42.5px);
  }
}
@keyframes slideOff {
  0% {
    transform: translateX(34px);
  }
  100% {
    transform: translateX(0);
  }
}
