@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.observe-hide {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}
.observe-show {
  opacity: 1;
  transform: translateX(0);
}
